body {
    margin: 0px auto;
    max-width:900px;
    text-align:center;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height:80px;
    background-color: #028779;
    color:#FFFFFF;
    width:100%;
}
section{
    flex-grow: 1;
    background-color:#f4efef;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
footer{
    background:black;
    color:#FFFFFF;
    width:100%;
    height:80px;
}
#container{
 width:310px;
 height:310px;
 background:#028779;
 display:flex;
 flex-direction:column;
 justify-content: space-around;
}
#boxes{
    display:flex;
    flex-wrap: wrap;
    font-size: 600%;
    color:#FFFFFF;
}
.sq{
    width:100px;
    height:100px;
    border:1.5px solid black;
}
#users{
    display: flex;
    justify-content: space-between;
    font-size:18px;
}

select{
    padding:3px;
    font-size:18px;
}
#currentPlayer{
    background-color: #028779;
    color:#FFFFFF;
    padding:8px;
}
#controlBnt button{
 font-size: 20px;
 margin:0px 24px 0px 25px;
 background-color: #028779;
 padding:5px 10px;
 color:#FFFFFF;
 border:none;

}
#playerSelection{
    width:250px;
    padding:3px;
    font-size:18px;
}